body {
  margin: 0;
  padding: 0;
}
.container {
  display: block;
  
  margin: 0;
  padding: 0;
  min-height: 200px;
  width: 100%;
}

.picture {
  position: relative;

  display: inline-block;
  box-sizing: border-box;
  width: 123px;
  height: 123px;
  margin-right: 14px;
  margin-bottom: 14px;
  overflow: hidden;

  text-align: center;
}

.picture img {
  height: 123px;
  margin-bottom: -34px;

  border: 0;
}

.likes,
.comments,
.newest {
  color: red;
  font-size: 18px;
  font-weight: 700;
}

.invisible {
  display: none;
}

.gallery-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  overflow: auto;

  text-align: center;

  background: rgba(0, 0, 0, 0.8);
}

.gallery-overlay-image[src=""] {
  display: block;
  width: 640px;
  height: 640px;

  border: dotted 1px #dddddd;
  cursor: pointer;
}

.gallery-overlay-controls {
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}
.gallery-overlay span {
  color: red;
  font-size: 30px;
}
.gallery-overlay span:hover {
  background-color: #fff;
}