.gallery-overlay {
  position: fixed;
  display: flex;

  flex-direction: column;
  justify-content: center;

  margin: 0;
  padding: 0;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 0;

  overflow: auto;

  text-align: center;

  background: rgba(0, 0, 0, 0.8);
  color: @gallery-text;
}
.gallery-overlay__image {
  align-self: center;
  box-sizing: border-box;
  background-color: black;
}
.invisible {
	display: none;
}
.left,
.right {
    cursor: pointer;
}
.left:hover,
.right:hover {
  opacity: 0.7;
}
.left:before {
  position: absolute;
  content: '';
  width: 27px;
  height: 23px;
  z-index: 1;
  margin-top: -50px;
  background-image: url(../img/icon-arrow.png);
  
  background-repeat: no-repeat; 
}

.right:before {
  position: absolute;
  content: '';
  width: 27px;
  height: 23px;
  z-index: 1;
  margin-left: -30px;
  margin-top: -50px;
  transform: rotate(180deg);
  background-image: url(../img/icon-arrow.png);
  
  background-repeat: no-repeat; 
}
.gallery-overlay__info {
  background-color: #000;
}

.likes {
  margin-right: 40px;
}
.comments {
  margin-right: 40px;
}

.likes:before {
  position: absolute;

  content: '';

  width: 20px;
  height: 16px;

  margin-left: -20px;

  background-image: url(../img/image-icons-sprite.png);
  background-position: 99% 0;
  background-repeat: no-repeat; 
}

.comments:before {
  position: absolute;

  content: '';

  width: 20px;
  height: 16px;

  margin-left: -20px;

  background-image: url(../img/image-icons-sprite.png);
  background-position: 0 0;
  background-repeat: no-repeat; 
}